/* fontes
    font-family: 'Pacifico', cursive;

 */


* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(68.15deg, rgb(255, 211, 218) 16.62%, white 85.61%);
    margin: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

/* header */
.imagem-principal {
    border-radius: 120px;
    width: 100px;
    display: flex;;
}

.titulo {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 40px;
}

.titulo {
    font-size: 50px;
    color: rgb(255, 160, 176);
    font-family: 'Pacifico', cursive;
}

#divBusca{
    background-color:pink;
    border:solid 2px pink;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:104px;
    font-weight:bold;
    background:pink;
  }


  .meio {
    border-top: 0.4px solid rgb(255, 160, 176);
  }

  .subtitulo {
    margin-top: 30px;
    
  }

